@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}


.container {
  display: flex;
  
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
}
.nav-main{
  /* border: 6px solid #69b43d; */
  /* width: 15%; */
  height: 100vh;
}
.sidebar {
  position: fixed;
  width: 250px;
  /* border: 1px solid #0922ff; */
  height: 100vh;
  /* gap: 20px; */
  /* margin-top: ; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  
}

.sidebar .head {
  
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  /* border: 1px solid #000000; */
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 20px;

}

.user-details .title,
.menu .title {
  font-size: 11px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav {
  flex: 1;
  /* border-bottom: 1px solid #f6f6f6; */
  
}
.menu-set ,.menu-acc{
  border-top: 1px solid #f6f6f6;
  padding-top: 20px;
}

.menu {
  width: 100%;
  /* padding-bottom: 10px; */
  /* margin-bottom: 20px; */
  /* border-bottom: 5px solid #f6f6f6; */
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
}

.menu ul .rout {
  text-decoration: none;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;

  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li:hover a {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 20px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 15px;
}



.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.nav-top {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease; /* เพิ่ม transition */
}
.nav-top.sidebar-visible {
  margin-left: 250px; 
}

.nav-top .list {
  color: #f6f6f6;
  font-size: 24px;
}

.nav-top .inside-top {
  height: 6vh;
  /* border: 1px solid black; */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: 100%;
  background-color: #8795e2;
  
}

.toggle-menu {
   /* border: 1px solid black; */
  width: 25px;
  cursor: pointer;
}

.search-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
    /* border: 1px solid black; */
    .search-inside {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      /* border: 1px solid white; */
      color: #096340;
      /* margin: 0 0 0 130px; */
      /* padding-right: 28px; */
    }
     
}

.user-details1{
  /* border: 10px solid black; */
  display: flex;
  justify-content: center;
  width: 100%;
  i{
    font-size: 50px;
  }
}




.logo {
  

  margin: 10px;

  
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
  /* border: 1px solid white; */
}

.data-main {
  
  height: 94vh;
  display: flex;
 
}


.logo-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;

}


@media screen and (min-width: 1920px) {
  
}



@media screen and (min-width: 1280px) and (max-width: 1440px){

      .nav-top.sidebar-visible{
        margin-left: 200px;
      }
      .sidebar {
      
        width: 200px;

        
      }
      .user-details .title,
      .menu .title {
          font-size: 10px;
       
      }
      .menu ul li a {
        font-size: 12px;
       
      
      }
    
      
      .logo-img img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      
      }
  
}